#Put local vars here for the specific function

# Specify ruby user
local current_user="rubyuser"

_task_check_and_useradd

# Specify rvm gpg key source
# ref. https://rvm.io/rvm/security
# default hkp port tcp/udp 11371, to prevent from firewall issue, force it to port 80 (make sure vendor provides port 80)
# local rvm_gpg_key_src="hkp://pgp.mit.edu:80"
#
# (better)
# local rvm_gpg_key_src="hkp://keyserver.ubuntu.com:80"

# (less secure way) comment out above to manually install through rvm.io

# Specify rvm version
local rvm_version="1.29.12"

# Specify ruby version (installing with rvm)
#local ruby_version="2.6.0"
local ruby_version="3.1.2"

# Specify rails version here
# ex. 5.0 presents ~> 5.0.0
# ex. 4.2 presents ~> 4.2.0
#local rails_version="5.0"
local rails_version="7.0"

# --- Ruby & Ruby on Rails compatibility reference ---
# https://github.com/rails/rails/blob/master/.travis.yml
# https://travis-ci.org/rails/rails/builds/517573851/config
# ----------------------------------------------------


# ###########################################################
# @AppStream
# For using dnf module (obey variable name rules)
# ###########################################################
# variable defining rules:
#                            local pkgname_dnf_module_version="{stream}"
# try look up version(stream) this way:
#                                         dnf module list pkgname #
# ----------------------------------------------------------

# Enabled dnf module version of ruby by default
local ruby_dnf_module_version="3.1"



# ----------------------------------------------------
# DO NOT MODIFY HERE
# ----------------------------------------------------
# User home dir
. ${PLUGINS}/plugin_load_databag.sh __current_user_home.cfg

# web_sites dir
local site_type="rails"
. ${PLUGINS}/plugin_load_databag.sh __helper_nginx_site_config.cfg
