# -------------------------------------------------------------------------------------------------------
# Unused Environment Groups
# -------------------------------------------------------------------------------------------------------
# [ enable | disable ]
local remove_unused_env_groups="enable"

local unused_env_groups=("Server with GUI" "Workstation" "KDE Plasma Workspaces" "Virtualization Host" "Custom Operating System")

# ------------------
# recommend
# ------------------
# If you are not under multi-user.target.
# It is highly recommended that you REINSTALL Whole CentOS using "Minimal Install"
# OR
# Please try to do the following:
#
# -- HOW TO: --
# 1. systemctl set-default multi-user
# 2. reboot
# 3. dnf groupinstall "Minimal Install" (If this is not working, try also: dnf groupinstall "Server")
# 4. dnf groupremove 'Server with GUI'
# 5. reboot
