#Put local vars here for the specific function

# PHP version of webtatic YUM
local epel_yum_repo="https://dl.fedoraproject.org/pub/epel/epel-release-latest-7.noarch.rpm"
local php_yum_repo="https://mirror.webtatic.com/yum/el7/webtatic-release.rpm"

# Node version of YUM
# Ref. https://nodejs.org/en/download/package-manager/#enterprise-linux-and-fedora
local node_yum_repo="https://rpm.nodesource.com/setup_6.x"

