. ${PLUGINS}/plugin_load_databag.sh _php_laravel.cfg


# ################################
# Setup php-fpm pool "www"
# Value in pool "www" would override default valie in /etc/php.ini
# ################################
local php_expose_php="Off"
local php_file_uploads="On"
local php_max_file_uploads="20"
local php_post_max_size="512M"
local php_upload_max_filesize="512M"
local php_memory_limit="512M"
local php_date_timezone="Asia/Taipei"

