#==========================================
# Do not change here
#==========================================
. ${PLUGINS}/plugin_load_databag.sh _ruby_rails.cfg

#==========================================
# Change info here
#==========================================
local redmine_db_name="redmine"
# --- Redmine 3.x ---
#local redmine_ruby_version="2.4.1"
#local redmine_version="3.4.9"
#local redmine_bundler_version="1.17.3"
#local redmine_plugins=(
#  "https://github.com/paginagmbh/redmine_lightbox2/archive/v0.4.4.zip"
#  "https://raw.githubusercontent.com/charlietag/github_share_folder/master/redmine_plugins/redmine_agile-1_4_8-light.zip"
#)

# --- Redmine 4.x ---
# local redmine_ruby_version="2.5.1"
# local redmine_version="4.2.3"

# --- Redmine 5.x ---
local redmine_ruby_version="3.1.2"
local redmine_version="5.0.3"

# Specify gem:bundler version here
# ex. 2.1 presents ~> 2.1.0
#     this means 2.1.x
# local redmine_bundler_version="2.1"
local redmine_bundler_version="2.3"

# -------------------------- Redmine Plugins ----------------------------
# -- redmine_wysiwyg_editor --
# redmine_ckeditor works more visualized than redmine_wysiwyg_editor
#  "https://github.com/taqueci/redmine_wysiwyg_editor/archive/0.6.0.zip"
#
# -- redmine_ckeditor --
# Better than wysiwyg_editor, but Security issue (can upload without permission)
#  "https://github.com/a-ono/redmine_ckeditor/archive/1.2.2.zip"
#
# -- EasyGantt --
# EasyGantFree --- caused db:create failed (but mysql command to create db is ok)... still have concern about this plugin
# if really need this plugin, install it after all (it's kind of useful)
#  "https://raw.githubusercontent.com/charlietag/github_share_folder/master/redmine_plugins/EasyGanttFree-4.x.zip"

# -- Disable default --
#  "https://github.com/haru/redmine_code_review/archive/1.0.0.zip"
#  "https://github.com/tkusukawa/redmine_work_time/archive/0.4.0.zip"
#  "https://github.com/akiko-pusu/redmine_issue_templates/archive/1.1.0.zip"
local redmine_plugins=(
  "https://raw.githubusercontent.com/charlietag/github_share_folder/master/redmine_plugins/redmine_agile-1_6_3-light.zip"
  "https://raw.githubusercontent.com/charlietag/github_share_folder/master/redmine_plugins/redmine_checklists-3_1_21-light.zip"
)

# -- May not be compatible with Redmine 5 anymore --
#  "https://github.com/paginagmbh/redmine_lightbox2/archive/v0.5.1.zip"
#  "https://raw.githubusercontent.com/charlietag/github_share_folder/master/redmine_plugins/redmine_issues_tree-4.1.x.zip"

# -------------------------- Redmine Plugins ----------------------------

# -------------------------- Redmine Themes ----------------------------
local redmine_themes=(
  "https://github.com/mrliptontea/PurpleMine2/archive/v2.15.0.zip"
  "https://raw.githubusercontent.com/charlietag/github_share_folder/master/redmine_themes/a1_theme-3_0_0.zip"
  "https://raw.githubusercontent.com/charlietag/github_share_folder/master/redmine_themes/circle_theme-2_1_5.zip"
)
# -------------------------- Redmine Themes ----------------------------

# --- Redmine Language ---
#local redmine_default_lang=""  # Leave this empty. Then in manage page, redmine will ask you if you want to load default config data, in what language.
#local redmine_default_lang="en"
local redmine_default_lang="zh-TW"

local redmine_db_user="root"
local redmine_db_pass=""

#------------------------------------------
local redmine_gemset="gemset_redmine_${redmine_version}"


#==========================================
# Redmine URL
#==========================================
#Using git clone instead, for easier to upgrade redmine verion by command 'git pull'
#local redmine_url="https://github.com/redmine/redmine/archive/${redmine_version}.zip"
