# Ref sample: https://www.freedesktop.org/software/systemd/man/systemd.service.html#Examples
[Unit]
Description=Puma HTTP Server
After=network.target

[Service]
#--- /usr/local/bin/puma-mgr will auto su - to rubyuser
# systemd su to user will not do the .bashrc , so if this set to rubyuser, bundle will not be found!
User=root

ExecStart=/usr/local/bin/puma-mgr start

# ExecStop could be comment, because systemd can kiil entire Puma Unit related PIDs quickly without specifying stop script
ExecStop=/usr/local/bin/puma-mgr stop
ExecReload=/usr/local/bin/puma-mgr reload

# Difference between oneshot, forking --> systemctl status puma
#Type=oneshot
#RemainAfterExit=yes

Type=forking
RemainAfterExit=yes
Restart=no

[Install]
WantedBy=multi-user.target
